.MuiTypography-root.MuiTypography-h4 {
    font-family: inherit;
    color: white;
    font-weight: 100;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.o-btn-form.MuiButton-containedPrimary.MuiButton-fullWidth{
    margin-top: 0.8rem;
    color: #0E0E0E;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    height: 2.7rem;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.o-btn-google.MuiButton-containedPrimary.MuiButton-fullWidth{
    margin-top: 0.8rem;
    color: #0E0E0E;
    font-style: normal;
    line-height: 21px;
    width: 100%;
    background: #fff;
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.o-btn-google.MuiButton-containedPrimary.MuiButton-fullWidth:hover{
    background: #4285F4;
}

.o-g-logo {
    width: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.o-btn-facebook.MuiButton-containedPrimary.MuiButton-fullWidth{
    margin-top: 0.8rem;
    font-style: normal;
    line-height: 21px;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
}

.MuiSvgIcon-root.o-f-logo{
    font-size: 30px;
    margin-right: 1rem;
}

.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth{
    margin-bottom: 0;
}

.o-login-link{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 0.5rem;
    height: 100%;
    font-size: 15px;
}

.o-login-link:hover{
    font-size: 15.5px;
}