:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    border-color: linear-gradient(270deg, #00E6E3 2.73%, #00FF68 100%);
    box-shadow: 0px 0px 5px 2px rgba(1, 255, 47, 0.5);
}
  
  .btn--medium {
    padding: 5px 21px;
    font-size: 16px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    box-shadow: none;
    background: linear-gradient(270deg, #00E6E3 2.73%, #00FF68 100%);
    color: #0E0E0E;
    transition: 250ms;
  }