.o-nav{
    position: absolute;
    min-width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-img-logo{
    width: 10rem;
    padding: 0.5rem;
    margin-left: 12%;
}

.o-links-container-nav {
    margin-right: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}